/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# emacs, mac and other misc files
\#*\#
.#*
.DS_Store
.lein-failures
.lein-env